﻿@model IEnumerable<Haldur.File>

@{
    ViewBag.Title = "Index";
    Haldur.User u = Haldur.User.GetByEmail(User.Identity.Name);
}

@if (Request.IsAuthenticated)
{

    <h2>Failid</h2>


    <p>
        @Html.ActionLink("Loo uus", "Create")
    </p>
    <br />

    using (Html.BeginForm())
    {
        <div>
            <p>
                Otsi faili nime järgi: @Html.TextBox("SearchString")
                <input type="submit" class="w3-button w3-tiny w3-square w3-red " value="Otsi" />
            </p>
        </div>

        <br />
    }

    var sortDirectionProjectName = ViewBag.SortParm != "projectname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionTaskName = ViewBag.SortParm != "taskname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";




    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Failinimi")
            </th>
            <th>
                @Html.DisplayName("Failitüüp")
            </th>
            <th>
                @Html.DisplayName("Eelvaade")
            </th>
            <th>
                @Html.ActionLink("Projekt", "Index", new { sortOrder = "projectname", sortDirection = (ViewBag.SortParm != "projectname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
            </th>
            <th>
                @Html.ActionLink("Tööülesanne", "Index", new { sortOrder = "taskname", sortDirection = (ViewBag.SortParm != "taskname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FileNameShort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileType)
                </td>
                <td>
                    <a href='@Url.Action( "FileImage", "Files", new { id = item.FileID} )'>
                        @if (item.FileType == "image/jpeg")
                        {
                            <img id="pilt" src='@Url.Action("FileImage", "Files", new { id = item.FileID })' height="80" alt="Ava!" />
                        }
                        else if (item.FileType == "image/png")
                        {
                            <img id="pilt" src='@Url.Action("FileImage", "Files", new { id = item.FileID })' height="80" alt="Ava!" />
                        }
                        else if (item.FileType == "application/pdf")
                        {
                            <i class="fa fa-file-pdf-o" style="font-size: 30px"></i> <src ='@Url.Action("FileImage", "Files", new { id = item.FileID })' height="80" alt="Ava!" />
                        }
                        else
                        {
                            <i class="fa fa-file-zip-o" style="font-size: 30px"></i> <src ='@Url.Action("FileImage", "Files", new { id = item.FileID })' height="80" alt="Ava!" />
                        }
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Task.TaskName)
                </td>

                @if (u?.IsInRole("ADM") ?? false)

                {
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.FileID }) |
                        @Html.ActionLink("Detailid", "Details", new { id = item.FileID }) |
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.FileID })
                    </td>
                }


            </tr>
        }

    </table>






}