﻿@model Haldur.Role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

 

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Tagasi", "Index")
</p>
