﻿@model IEnumerable<Haldur.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detailid", "Details", new { id=item.ID }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
