﻿@model Haldur.UserProjectRole

@{
    ViewBag.Title = "Details";
}

<h2>Detailid</h2>

<div>
    <h4>Rollid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Role1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Role1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Muuda", "Edit", new { id = Model.UprID }) |*@
    @Html.ActionLink("Tagasi", "Index")
</p>
