﻿@model IEnumerable<Haldur.UserProjectRole>

@{
    ViewBag.Title = "Index";
}

<h2>Tiimiliikmete rollid</h2>

@*<p>
        @Html.ActionLink("Loo uus", "Create")
    </p>*@

<br>

@using (Html.BeginForm())
{
    <div>
        <p>
            Otsi projekti nime järgi: @Html.TextBox("SearchString")
            <input type="submit" class="w3-button w3-tiny w3-square w3-red " value="Otsi" />
        </p>
    </div>
}
<br>


<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Project.ProjectName)*@
            @Html.ActionLink("ProjectName", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Role1)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.User.UserName)*@
            @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Role1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.UprID }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.UprID }) |*@
                @Html.ActionLink("Kustuta", "Delete", new { id = item.UprID })
            </td>
        </tr>
    }

</table>
