﻿@using Microsoft.AspNet.Identity
@using H = Haldur;
@if (Request.IsAuthenticated)
{



    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">

    @{
        User k = H.User.GetByEmail(User.Identity.GetUserName());

        if (k == null)
        {
            <li>@Html.ActionLink("Tere tulemast, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        }
        else
        {

            <li>@Html.ActionLink("Tere tulemast, " + k.FullName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        }
    }


 

    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logi välja</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registreeri", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logi sisse", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
