﻿
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

@model Haldur.Project

@{
    ViewBag.Title = "Details";
}

<h2>Detailid </h2>

<div>
    <h4>Projekt: @Html.DisplayFor(model => model.ProjectName)</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectName)
            </dd>*@

        <dt>
            @Html.DisplayName("Alguse kuupäev")
        </dt>

        <dd>
            @if (Model.StartDate.HasValue)
            {
                @Model.StartDate.Value.ToString("MM/dd/yyyy")
            }
        </dd>

        <dt>
            @Html.DisplayName("Lõpu kuupäev")
        </dt>

        <dd>
            @if (Model.StartDate.HasValue)
            {
                @Model.StartDate.Value.ToString("MM/dd/yyyy")
            }
        </dd>

        <dt>
            @Html.DisplayName("Staatus")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayName("Kommentaarid")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayName("Algataja")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
    <div>
        <h4>
            <br>
            Selle projekti liikmed:
        </h4>


        @foreach (var upr in Model.UserProjectRoles)
        {
            <p>
                <a href="#" title="Andmed" data-toggle="popover" data-trigger="hover" data-content='@upr.User.Phone @upr.User.EMail'> @upr.User.UserName </a> <t>on rollis</t> @upr.Role.Role1;
            </p>
        }

    </div>


    <div>
        <h4>
            <br>
            Selle projekti tööülesanded:
        </h4>


        @foreach (var upr in Model.Tasks)
        {
            <p>
                <a href="#" title="Andmed" data-toggle="popover" data-trigger="hover" data-content='@upr.TaskID'> @upr.TaskName </a> <t>on projektile lisatud</t>;
            </p>
        }

    </div>


    <div>
        <h4>
            <br>
            Selle projekti failid:
        </h4>


        @foreach (var upr in Model.Files)
        {
        <p>
            <a href='@Url.Action( "FileImage", "Files", new { id = upr.FileID} )' title="Fail" data-toggle="popover" data-trigger="hover" data-content='@upr.FileType'> @upr.FileName </a> <t>on projektile lisatud</t>;

        </p>

        }

    </div>

</div>
    <p>
        <br>
        @Html.ActionLink("Muuda", "Edit", new { id = Model.ProjectID }) |
        @Html.ActionLink("Tagasi", "Index")
    </p>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>


