﻿@model IEnumerable<Haldur.Project>

@{
    ViewBag.Title = "Projektid";
}

<div style="float:left"><h2>Projektid</h2></div>
<div style="float:right"><a href="/Projects/Create/" button class="w3-button w3-xlarge w3-red">+</a></div>
<br>
<br>
<br>
<br>
<br>
<br>

@using (Html.BeginForm())
{
    <div>
        <p>
            Otsi projekti nime järgi: @Html.TextBox("SearchString")
            <input type="submit" class="w3-button w3-tiny w3-square w3-red " value="Otsi" />
        </p>
    </div>
}
<br>

@{
    var sortDirectionProjectName = ViewBag.SortParm != "projectname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionState = ViewBag.SortParm != "state" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Projekti nimi", "Index", new { sortOrder = "projectname", sortDirection = (ViewBag.SortParm != "projectname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
        </th>
        <th>
            @Html.ActionLink("Projekti algus", "Index", new { sortOrder = ViewBag.DateSortParmStart })
        </th>
        <th>
            @Html.ActionLink("Projekti lõpp", "Index", new { sortOrder = ViewBag.DateSortParmEnd })
        </th>
        <th>
            @Html.ActionLink("Staatus", "Index", new { sortOrder = "state", sortDirection = (ViewBag.SortParm != "state" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
        </th>
        <th>
            @Html.DisplayName("Kommentaar")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ProjectName, "Details", new { id = item.ProjectID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td style="float:right">
                @Html.ActionLink("Lisa ülesanne", "Create", "Tasks", new { id = item.ProjectID }, null) |
                @Html.ActionLink("Lisa tiimiliige", "Create", "UserProjectRoles", new { id = item.ProjectID }, null) |
                @Html.ActionLink("Muuda", "Edit", new { id = item.ProjectID }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.ProjectID })
            </td>
        </tr>
    }

</table>
