﻿@model IEnumerable<Haldur.Task>

@{
    ViewBag.Title = "Home Page";
}

@if (Request.IsAuthenticated)
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Trigger the modal with a button -->
            <button type="button" style="float:right" button class="w3-button w3-large w3-square w3-red" data-toggle="modal" data-target="#myModal">Teated</button>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog" style="align-content:center">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Teade </h4>
                        </div>
                        <div class="modal-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id tristique ipsum. Sed nec egestas velit. Ut vitae mi a ante sodales cursus et quis tellus. Suspendisse vestibulum justo non cursus elementum. Integer eget suscipit nisl. Aenean vitae fringilla tortor. Donec in varius elit. Nunc semper, arcu eget maximus semper, dui nulla gravida ligula, ut porta justo ipsum et tortor. Phasellus cursus lobortis urna at ullamcorper. Vestibulum convallis purus quis lacus commodo, non iaculis nibh ornare. Curabitur eleifend in sem in ultricies. Praesent efficitur mollis nunc sit amet auctor. Nunc placerat pretium purus, interdum vestibulum lacus dictum id. Cras sapien lectus, tristique et nisi fermentum, porta sodales nisl. Vivamus velit nulla, auctor eu eleifend eget, iaculis id tortor. </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Animated Alerts -->
        <div class="container" style="padding-top:20px">
            <div class="alert alert-success alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Palju õnne!</strong> Projekt "Vali-IT" edukalt lõpetatud!
            </div>

            <div class="alert alert-warning alert-dismissible fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>NB!</strong> Aeg on asuda praktikale!
            </div>
        </div>



        @if (ViewBag.tasksEndDate != null)
        {
            <div class="flex-container" style="padding-top:20px">
                @foreach (Task item in ViewBag.tasksEndDate)
                {

                    <div id="draggable3" class="itemCritical item">
                        <h6 style="text-align:right">@Html.ActionLink("Ava ülesanne", "Details", "Tasks", new { id = item.TaskID }, null)</h6>
                        <h4>@Html.DisplayFor(modelItem => item.TaskName)</h4>
                        <h6>
                            Antud:
                            @if (item.StartDate.HasValue)
                            {
                                @item.StartDate.Value.ToString("MM/dd/yyyy")
                            }
                        </h6>
                        <h6>
                            Tähtaeg:
                            @if (item.EndDate.HasValue)
                            {
                                @item.EndDate.Value.ToString("MM/dd/yyyy")
                            }
                        </h6>
                        <h6>Andja:@Html.DisplayFor(modelItem => item.Assigner.FullName)</h6>
                        <h5>Projekt:@Html.DisplayFor(modelItem => item.Project.ProjectName)</h5>
                    </div>

                }
            </div>
        }

        @if (ViewBag.tasksStartDate != null)
        {
            <div class="flex-container">
                @foreach (Task item in ViewBag.tasksStartDate)
                {
                    <div id="draggable2" class="item itemNew">
                        <h6 style="text-align:right">@Html.ActionLink("Ava ülesanne", "Details", "Tasks", new { id = item.TaskID }, null)</h6>
                        <h4>@Html.DisplayFor(modelItem => item.TaskName)</h4>
                        <h6>
                            Antud:
                            @if (item.StartDate.HasValue)
                            {
                                @item.StartDate.Value.ToString("MM/dd/yyyy")
                            }
                        </h6>
                        <h6>
                            Tähtaeg:
                            @if (item.EndDate.HasValue)
                            {
                                @item.EndDate.Value.ToString("MM/dd/yyyy")
                            }
                        </h6>
                        <h6>Andja:@Html.DisplayFor(modelItem => item.Assigner.FullName)</h6>
                        <h5>Projekt:@Html.DisplayFor(modelItem => item.Project.ProjectName)</h5>
                    </div>
                }
            </div>
        }
    </body>
</html>
}
else
{

<div class="jumbotron">
    <table>
        <tr>
            <td width="600">
                <h1>HALDUR</h1>
                <p class="lead">Haldur on töökindel masinavärk, mida ei peata ükski projekt.</p>
                <p><a href="/Account/Register/" button class="w3-button w3-large w3-square w3-red w3-card-4">Registreeri &raquo;</a></p>
            </td>
            <td>
                <img src="~/Pildid/albert.png" height="250" />
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <div class="col-md-4">
        <i class="fa fa-file-text w3-jumbo"></i>
        <h2>Projektid</h2>
        <p>
            Lisa, halda, muuda, kustuta.
        </p>

    </div>
    <div class="col-md-4">
        <i class="fa fa-check-square-o w3-jumbo"></i>
        <h2>Tööülesanded</h2>
        <p>Tähtajad ei püüa Sind kunagi kinni.</p>

    </div>
    <div class="col-md-4">
        <i class="fa fa-cubes w3-jumbo"></i>
        <h2>Failid</h2>
        <p>Hoia failid rivis.</p>

    </div>
</div>
}

@*SIIT ALGAB DRAGGIMISE SCRIPT*@
<script>
    var sPositions = localStorage.positions || "{}",
        positions = JSON.parse(sPositions);
    $.each(positions, function (id, pos) {
        $("#" + id).css(pos)
    })
    $("#draggable3").draggable({
        containment: "#containment-wrapper",
        scroll: false,
        stop: function (event, ui) {
            positions[this.id] = ui.position
            localStorage.positions = JSON.stringify(positions)
        }
    });
    $(function () {

        $(".item").draggable({

            start: function (event, ui) {
                var target = document.getElementById(this.id);
                target.style.zIndex = 100;
            },

            stop: function (event, ui) {
                console.log(event, ui);

                var nowPosition = new Object();
                var newPosition = new Array();

                for (var i = 1; i < 6; i++) {
                    var positionData = getPosition(i);
                    nowPosition = { 'name': 'item' + i, 'position': positionData };

                    newPosition.push(nowPosition);
                }

                newPosition.sort(function (a, b) {
                    if (a['position'] > b['position']) return -1;
                    if (a['position'] < b['position']) return 1;
                    return 0;
                });

                var number = 0;
                for (var i = newPosition.length; i--;) {
                    console.log(newPosition[i].name);

                    var tmpItem = document.getElementById(newPosition[i].name);
                    tmpItem.style.order = number;
                    tmpItem.style.left = 0;
                    tmpItem.style.top = 0;

                    number++;
                }

                var target = document.getElementById(this.id);
                target.style.zIndex = 0;
            }

        });

        function getPosition(item) {
            var tmpItem = document.getElementById('item' + item);
            console.dir(tmpItem);
            return tmpItem.offsetLeft;
        }
    });
</script>