﻿@model IEnumerable<Haldur.User>

@{
    ViewBag.Title = "Minu kontaktid";
}

<h2>Kontaktid</h2>
<br>

@using (Html.BeginForm())
{
    <div>
        <p>
            Otsi e-maili järgi: @Html.TextBox("SearchString")
            <input type="submit" class="w3-button w3-tiny w3-square w3-red " value="Otsi" />
        </p>
    </div>
}
<br>
@{ 
    var sortDirectionFirstName = ViewBag.SortParm != "firstname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionLastName = ViewBag.SortParm != "lastname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionUserName = ViewBag.SortParm != "username" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionEmail = ViewBag.SortParm != "email" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionCompany = ViewBag.SortParm != "org" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
}



<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Kasutajanimi", "Index", new { sortOrder = "username", sortDirection = (ViewBag.SortParm != "username" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
        </th>
        <th>
            @Html.ActionLink("Eesnimi", "Index", new { sortOrder = "firstname", sortDirection = sortDirectionUserName })
        </th>
        <th>
            @Html.ActionLink("Perenimi", "Index", new { sortOrder = "lastname", sortDirection = sortDirectionLastName })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "email", sortDirection = sortDirectionEmail })
        </th>

        <th>
            @Html.DisplayName("Telefon")
        </th>
        <th>
            @Html.ActionLink("Organisatsioon", "Index", new { sortOrder = "org", sortDirection = sortDirectionCompany })
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.UserID }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.UserID })
            </td>
        </tr>
    }

</table>
