﻿@model Haldur.Task

@{
    ViewBag.Title = "Details";
}

<h2>Detailid</h2>

<div>
    <h4>Tööülesanded</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskSequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskSequence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assigner.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assigner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.UserName)
        </dd>

    </dl>


    <div>
        <h4>
            <br>
            Selle tööülesande failid:
        </h4>


        @foreach (var upr in Model.Files)
        {
            <p>
                <a href="#" title="Andmed" data-toggle="popover" data-trigger="hover" data-content='@upr.FileType'> @upr.FileName </a> <t>on tööülesandele lisatud</t>;
            </p>
        }

    </div>




</div>
<p>
    <br>
    @*@Html.ActionLink("Muuda", "Edit", new { id = Model.TaskID }) |*@
    @Html.ActionLink("Tagasi", "Index")
</p>
