﻿@model IEnumerable<Haldur.Task>
@{
    ViewBag.Title = "Taskid";
    Haldur.User u = Haldur.User.GetByEmail(User.Identity.Name);
}

<div style="float:right"><a href="/Tasks/Create/" button class="w3-button w3-xlarge w3-red">+</a></div>
<br>
<br>
<br>

@using (Html.BeginForm())
{
    <div>
        <p>
            Otsi projekti nime järgi: @Html.TextBox("SearchString")
            <input type="submit" class="w3-button w3-tiny w3-square w3-red " value="Otsi" />
        </p>
    </div>
}
<br>

@{
    var sortDirectionTaskName = ViewBag.SortParm != "taskname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
    var sortDirectionState = ViewBag.SortParm != "state" ? "" : ViewBag.Reverse != "desc" ? "desc" : "";
}

@if (Request.IsAuthenticated)
{

    if (u?.IsInRole("ADM") ?? false)
    {
        <h2>Ülesanded</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Ülesanne", "Index", new { sortOrder = "taskname", sortDirection = (ViewBag.SortParm != "taskname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
                </th>
                <th>
                    @Html.ActionLink("Antud", "Index", new { sortOrder = ViewBag.DateSortParmStart })
                </th>
                <th>
                    @Html.ActionLink("Tähtaeg", "Index", new { sortOrder = ViewBag.DateSortParmEnd })
                </th>
                <th>
                    @Html.ActionLink("Staatus", "Index", new { sortOrder = "state", sortDirection = (ViewBag.SortParm != "state" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
                </th>
                <th>
                    @Html.DisplayName("Kommentaar")
                </th>
                <th>
                    @Html.DisplayName("Projekti nimi")
                </th>
                <th>
                    @Html.DisplayName("Määraja")
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assigner.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.TaskID }) |
                        @Html.ActionLink("Lisad", "Details", new { id = item.TaskID })
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.TaskID })
                    </td>
                </tr>

            }

        </table>
    }

    else
    {


        <h2>Saadud ülesanded</h2>

 

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Ülesanne", "Index", new { sortOrder = "taskname", sortDirection = (ViewBag.SortParm != "taskname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
                </th>
                <th>
                    @Html.ActionLink("Antud", "Index", new { sortOrder = ViewBag.DateSortParmStart })
                </th>
                <th>
                    @Html.ActionLink("Tähtaeg", "Index", new { sortOrder = ViewBag.DateSortParmEnd })
                </th>
                <th>
                    @Html.ActionLink("Staatus", "Index", new { sortOrder = "state", sortDirection = (ViewBag.SortParm != "state" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
                </th>
                <th>
                    @Html.DisplayName("Kommentaar")
                </th>
                <th>
                    @Html.DisplayName("Projekti nimi")
                </th>
                <th>
                    @Html.DisplayName("Määraja")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(x => x.AssignedTo == ViewBag.UserID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Assigner.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.TaskID }) |
                        @Html.ActionLink("Lisad", "Details", new { id = item.TaskID })
                    </td>
                </tr>

            }

        </table>


        <div style="float:left"><h2>Antud ülesanded</h2></div>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Ülesanne", "Index", new { sortOrder = "taskname", sortDirection = (ViewBag.SortParm != "taskname" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
                </th>
                <th>
                    @Html.ActionLink("Antud", "Index", new { sortOrder = ViewBag.DateSortParmStart })
                </th>
                <th>
                    @Html.ActionLink("Tähtaeg", "Index", new { sortOrder = ViewBag.DateSortParmEnd })
                </th>
                <th>
                    @Html.ActionLink("Staatus", "Index", new { sortOrder = "state", sortDirection = (ViewBag.SortParm != "state" ? "" : ViewBag.Reverse != "desc" ? "desc" : "") })
                </th>
                <th>
                    @Html.DisplayName("Kommentaar")
                </th>
                <th>
                    @Html.DisplayName("Projekti nimi")
                </th>
                <th>
                    @Html.DisplayName("Määratud")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Where(x => x.AssignedBy == ViewBag.UserID))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Worker.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Muuda", "Edit", new { id = item.TaskID }) |
                        @Html.ActionLink("Lisad", "Details", new { id = item.TaskID }) |
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.TaskID })
                    </td>
                </tr>
            }

        </table>


    }

}
